In [26]:
import numpy as np
import pandas as pd
import ts2vg
import h5py
import os

In [2]:
df: pd.DataFrame = pd.read_csv("data/exams_labels_filtered.csv")
display(df.shape)
df

(34104, 16)

,exam_id,age,is_male,nn_predicted_age,1dAVb,RBBB,LBBB,SB,ST,AF,patient_id,death,timey,normal_ecg,trace_file,label
0,168405,67,True,79.621740,False,False,False,False,False,True,51421,False,4.282188,False,exams_part13.hdf5,AF
1,132538,85,False,87.512890,False,False,False,False,False,True,60291,NaN,NaN,False,exams_part13.hdf5,AF
2,552294,79,True,79.434006,False,False,False,True,False,False,1378720,False,3.380819,False,exams_part13.hdf5,SB
3,605089,75,True,75.876625,False,True,False,False,False,False,1690607,NaN,NaN,False,exams_part13.hdf5,RBBB
4,2821208,43,False,82.751550,False,False,False,False,False,True,905050,False,7.501364,False,exams_part13.hdf5,AF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34099,3140838,59,False,60.489555,False,False,False,False,True,False,792477,False,6.586296,False,exams_part2.hdf5,ST
34100,739700,66,True,62.225470,True,False,False,False,False,False,447353,False,3.002737,False,exams_part2.hdf5,1dAVb
34101,844597,60,False,67.015120,False,False,True,False,False,False,1040464,False,2.802737,False,exams_part2.hdf5,LBBB
34102,1066754,26,False,20.644780,False,False,False,False,True,False,514699,False,2.304108,False,exams_part11.hdf5,ST
34103,1516436,62,True,69.624886,False,True,False,False,False,False,133801,NaN,NaN,False,exams_part11.hdf5,RBBB

In [3]:
filtered_ids = df.exam_id
filtered_ids

0         168405
1         132538
2         552294
3         605089
4        2821208
          ...
34099    3140838
34100     739700
34101     844597
34102    1066754
34103    1516436
Name: exam_id, Length: 34104, dtype: int64

In [ ]:
for f in os.listdir("exams"):
    with h5py.File(f, "r") as exam_file:
        pass